<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments::head"></head>

<body class="container">
<nav th:replace="fragments :: date"></nav>

<h1 th:text="${title}">Title</h1>
<nav th:replace="fragments :: header"></nav>

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <!--add employee type and manager if employee has manager they cannot be selected-->
    <div th:each="employee:${employees}" class="checkbox">
        <input type="checkbox" name="employeeIds" th:value="${employee.id}" th:id="${employee.id}"/>
        <label th:for="${employee.id}" th:text="${employee.type}"></label>
        <br/>
    </div>

    <input type="submit" value="Add New Manager"/>
</form>
</body>
</html>